[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[dev-packages]
black = "==18.9b0"
bpython = "*"
pylint = "*"

[packages]
click = "*"
tensorflow = "*"
music21 = "*"
numpy = "*"
sklearn = "*"
flask = "*"
configparser = "*"
boto3 = "*"
pydantic = "*"
